%html
  %head
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  %body

.wrapper
  .chat-side
    .side-header
      %h1.side-header__username ケンシロウ
      .item
        %li
          = link_to fa_icon("cog"), root_path,class: "awesome-font"
        %li
          = link_to fa_icon("edit"), root_path,class: "awesome-font"



    .groups
      - for i in 1..10
        %h1.group-name 北斗神拳伝承者あつまれ〜！
        %h1.last-message ラストメッセージが入ります。
        %h1.group-name ラオウ
        %h1.last-message 今日暇？

  .chat-main
    .header
      .current-group
        %h1.current-group--name 北斗神拳伝承者あつまれ〜！
        %h1.current-group--members Member： ラオウ　トキ　ジャギ　ケンシロウ
      = link_to 'Edit', 'http://google.co.jp',class: "current-group--members-edit"
    .messages
      - for i in 1..50

        .message
          .message-info
            %h1.message-info--name シン
            %h1.message-info--date 200X/04/20(Sat) 17:36:33

          %h1.message-text 力こそが正義！いい時代になったものだ
        .message
          .message-info
            %h1.message-info--name ジャギ
            %h1.message-info--date 200X/04/20(Sat) 17:36:33
          %h1.message-text 俺の名は
    .foam



      %form#new_message.new-message
        .input-box
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}

            %label.image-label{:for => "message_image"}
              %i.fa.fa-image
                %input#message_image.image-label__input{:name => "message[image]", :type =>   "file"}

        %input.new-message__submit-btn{"data-disable-with" => "Send", :type =>  "submit",  :value => "Send"}
