.groups
  - @groups.each do |group|
    = link_to group_messages_path(group) do
      %h1.group-name 
        =group.name
      %h1.last-message 
        -if group.messages.present?
          =group.messages.order("created_at DESC").first.content if group.messages.present?
        -else
          メッセージはありません。

