@import "./reset";
@import "font-awesome";

$light-blue:#38aef0;

.wrapper{
    box-sizing: border-box;
    & .chat-side {
        height: 100vh;
        width: 300px;
        float: left;
        & h1{
            padding-left:20px;
            padding-right:20px;
            }
        & .side-header{
            padding-right:20px ;
            height: 100px;
            color:white;
            background-color: #253141;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .side-header__username{
                font-size: 16px;
                color:white;
            }
            & li{
                float: right;
                list-style: none;
            }
            & .awesome-font{
                float: right;
                margin-left: 0.3rem;
                color: white;
                }
        }
        & .groups{
            overflow:auto;
            height: calc( 100% - 100px );
            color:white;
            background-color: #2f3e51;
            & .group-name{
                font-size:15px;
                padding-top: 20px;
            }
            & .last-message{
                font-size:11px;
                padding-top: 5px;
                padding-bottom: 20px;
            }
        }
    }

    & .chat-main {
        height: 100vh;
        width: calc( 100% - 300px ) ;
        float: right;
        & .header{
            display: flex;
            justify-content: space-between;
            height: 100px;
            border-bottom: thin solid #eeeeee;
            box-sizing: border-box;
            & .current-group{
                display: block;
                padding-left: 40px;
            }
            & .current-group--name{
                font-size:20px;
                padding-top: 35px;
                color: #333333;
            }
            & .current-group--members{
                font-size:12px;
                padding-top: 15px;
                color: #999999;
            }
            & .current-group--members-edit{
            box-sizing: border-box;
            height: 40px;
            line-height: 40px;
            padding:0  20px 0;
            border: solid 1px $light-blue;
            margin:30px 40px 0;
            float:right;
            text-decoration: none;
            color: $light-blue;
            }
        }

        & .messages{
            box-sizing: border-box;
            padding: 46px 40px 0;
            height: calc(100vh - 190px);
            background-color: #fafafa;
            position: relative;
            overflow:auto;
            & .message{
                padding-bottom: 40px;

                & .message-info{
                    display: flex;
                        margin-bottom:10px;
                    & .message-info--name{
                        color: #333333;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    & .message-info--date{
                        color:#999999 ;
                        padding-left: 10px;
                        font-size: 12px;
                    }
                }
                & .message-text{
                    color:#434A54 ;
                    position: relative;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
        }
        }

        & .foam{
            height: 90px;
            padding: 20px 40px;
            background-color: #ddd;
            box-sizing: border-box;
            display: block;
            & .new-message{
                display: flex;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            & .input-box{
                position: relative;
                width: 100%;
                & .input-box__text {
                    height: 50px;
                    width: 100%;
                    padding: 0 40px 0 10px;
                    color: #434a54;
                    border-style: none;
                    box-sizing: border-box;
                }
            }
            & .new-message__submit-btn{
                width: 100px;
                height: 50px;
                padding: 0 30px;
                margin-left: 15px;
                background-color: $light-blue;
                color: white;
                cursor: pointer;
            }
            & .image-label{
                font-size: 1.3rem;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                & .image-label__input{
                    display: none;
                }
            }
        }
    }
}
