@import "./reset";

@import "font-awesome";


li{  float: right;
    list-style: none;
}
.wrapper{

}
.name{
    // float: left;
    font-size: 16px;
// padding-right: 30px;

 color:#ffffff;
}
.left {
    height: 100vh;
    width: 300px;
    float: left;
    // position: relative;
    .header{
    // padding-top: 25px;
    height: 100px;
    color:#ffffff;
    background-color: #253141;
        display: flex;
    align-items: center;
    margin: auto;
    }

}
.left .main
{
    overflow:auto;
    height: calc( 100% - 100px );
    color:#ffffff;
    background-color: #2f3e51;
    .a{
        font-size:15px;
        padding-top: 20px;
    }
    .b{
        font-size:11px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
}

.right {
    height: 100vh;
    width: calc( 100% - 300px ) ;
    float: right;
    background-color: pink;

}
.right .header{
        display: flex;
    justify-content: space-between;
    height: 100px;
    background-color:  #fafafa;
    border-bottom: thin solid #eeeeee;
        box-sizing: border-box;
    .currentgroup{    box-sizing: border-box;
    display: block;
    }

    .c{
        font-size:20px;
        padding-top: 35px;
        color: #333333;
    }
    .d{
        font-size:12px;
        padding-top: 15px;

        color: #999999;
    }
    .box{
    box-sizing: border-box;
    
    .pink{
    line-height: 40px;
    padding:0  20px 0;
    border: solid 1px #38aef0;
    margin:30px 20px 0;
    float:right;
    text-decoration: none;
    color: #38aef0;
    }
    }
}

.right .main{
    height: calc(100vh - 190px);

    color:thistle;
    background-color: #fafafa;
    overflow:auto;
    }
.left .main .a{
    font-size:15px;
    padding-top: 20px;
}
.left .main .b{
    font-size:11px;
    padding-top: 5px;
    padding-bottom: 20px;
}


.right h1{
    padding-left:20px;
}


.main{
    position: relative;
}

.left h1{
    padding-left:20px;
    padding-right:20px;  }
    
    .awesome2{
    float: right;
    padding-left:5px; 
    color: #fff;    
}

.awesome{
        float: right;
        padding-left:120px ;
    color: #fff
}


.messages{

    padding: 46px 40px 0;
    .textgroup{
        display: flex;
    }
    .D{
        color: #333333;
        font-size: 16px;
        padding-bottom: 10px;

    }
    .E{
        color:#999999 ;

        font-size: 12px;
    }
    .F{
        color:#434A54 ;
        position: relative;
        font-size: 14px;
        padding-bottom: 40px;
    }
}

.foam{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
        box-sizing: border-box;
            display: block;    

}
.foambox{

}

.new-message{
display: flex;
    margin: 0;
    padding: 0;
        box-sizing: border-box;
}
.input-box__text {
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    color: #434a54;
    border-style: none;

    box-sizing: border-box;
}

 .text{
    display: flex;
 }
.new-message__submit-btn{
width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
}
.input-box{
        position: relative;
    width: 100%;
}
.image-label{
        font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.image-label__input{
    display: none;
}
