<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>ChatSpaceProto</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token"
        content="TFACo5wuhhwbnqNj3B/rVQFrwQxIwhoPDiqdvObSatDiekU+3NBu0u7YHFOa4Twggibwu6mvyp4RJ2s9Lgsylw==" />
    <link rel="stylesheet" media="all"
        href="/assets/application-2f82c62a7612ec80c93af4b8afb77ffcec39f6615209cc44a6bf245204dcd451.css"
        data-turbolinks-track="reload" />
    <script src="/assets/application-8edc245abda810768ef3fe3c5173b344b19ab2bd6c346c842d24949e917a271d.js"
        data-turbolinks-track="reload"></script>
</head>

<body>
    <div class='flash-box'>
    </div>

    <div class='wrapper'>
        <div class='chat-side'>
            <div class='side-header'>
                <p class='side-header__user-name'>heroku</p>
                <ul class='user-menu'>
                    <li class='user-menu__edit-user'>
                        <a href="/groups/new"><i class="fa fa-edit"></i>
                        </a></li>
                    <li class='user-menu__new-group'>
                        <a href="/users/340/edit"><i class="fa fa-cog"></i>
                        </a></li>
                </ul>
            </div>
            <div class='groups'>
                <a href="/groups/646/messages">
                    <div class='group'>
                        <p class='group__group-name'>da</p>
                        <p class='group__latest-message'>まだメッセージがありません</p>
                    </div>
                </a><a href="/groups/645/messages">
                    <div class='group'>
                        <p class='group__group-name'>da</p>
                        <p class='group__latest-message'>まだメッセージがありません</p>
                    </div>
                </a><a href="/groups/644/messages">
                    <div class='group'>
                        <p class='group__group-name'>da</p>
                        <p class='group__latest-message'>まだメッセージがありません</p>
                    </div>
                </a><a href="/groups/643/messages">
                    <div class='group'>
                        <p class='group__group-name'>adad</p>
                        <p class='group__latest-message'>まだメッセージがありません</p>
                    </div>
                </a><a href="/groups/642/messages">
                    <div class='group'>
                        <p class='group__group-name'>afsa</p>
                        <p class='group__latest-message'>まだメッセージがありません</p>
                    </div>
                </a><a href="/groups/641/messages">
                    <div class='group'>
                        <p class='group__group-name'>vcx</p>
                        <p class='group__latest-message'>まだメッセージがありません</p>
                    </div>
                </a><a href="/groups/602/messages">
                    <div class='group'>
                        <p class='group__group-name'>dsa</p>
                        <p class='group__latest-message'>はじめまして！</p>
                    </div>
                </a></div>
        </div>

        <div class='chat-main'>
            <div class='main-header'>
                <div class='current-group' data-group_id='602'>
                    <h2 class='current-group__name'>dsa</h2>
                    <ul class='member-list'>
                        Member：
                        <li class='member-list__member'>datedate</li>
                        <li class='member-list__member'>heroku</li>
                    </ul>
                </div>
                <a href="/groups/602/edit">
                    <div class='main-header__edit-btn'>Edit</div>
                </a>
            </div>
            <div class='messages'>
                <div class='message' data-message_id='1441'>
                    <div class='upper-info'>
                        <p class='upper-info__user'>heroku</p>
                        <p class='upper-info__date'>2019/04/20(Sat) 17:36:33</p>
                    </div>
                    <p class='message__text'>はじめまして！</p>

                </div>
                <div class='message' data-message_id='1588'>
                    <div class='upper-info'>
                        <p class='upper-info__user'>heroku</p>
                        <p class='upper-info__date'>2019/04/22(Mon) 10:56:20</p>
                    </div>
                    <p class='message__text'>vbx</p>

                </div>
                <div class='message' data-message_id='1589'>
                    <div class='upper-info'>
                        <p class='upper-info__user'>heroku</p>
                        <p class='upper-info__date'>2019/04/22(Mon) 10:56:45</p>
                    </div>
                    <p class='message__text'></p>

                </div>
                <div class='message' data-message_id='1590'>
                    <div class='upper-info'>
                        <p class='upper-info__user'>heroku</p>
                        <p class='upper-info__date'>2019/04/22(Mon) 10:56:59</p>
                    </div>
                    <p class='message__text'>cxvzvcxz</p>

                </div>
                <div class='message' data-message_id='1591'>
                    <div class='upper-info'>
                        <p class='upper-info__user'>heroku</p>
                        <p class='upper-info__date'>2019/04/22(Mon) 10:57:00</p>
                    </div>
                    <p class='message__text'>vcxvxc</p>

                </div>
                <div class='message' data-message_id='1592'>
                    <div class='upper-info'>
                        <p class='upper-info__user'>heroku</p>
                        <p class='upper-info__date'>2019/04/22(Mon) 10:57:02</p>
                    </div>
                    <p class='message__text'>vxzvcxzc</p>

                </div>

            </div>
            <div class='form'>
                <form class="new-message" id="new_message" enctype="multipart/form-data" action="/groups/602/messages"
                    accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input
                        type="hidden" name="authenticity_token"
                        value="lrfO4jKB5u3RBvMm2BH09tXThz463mSSZtKPxn8QpYkc8tASgSlX2aEYAsvU+VbVVN1YYCiDKMLt4/FXd585gA==" />
                    <div class='input-box'>
                        <input placeholder="type a message" class="input-box__text" type="text" name="message[content]"
                            id="message_content" />
                        <label class="image-label" for="message_image"><i class="fa fa-image"></i>
                            <input class="image-label__input" type="file" name="message[image]" id="message_image" />
                        </label></div>
                    <input type="submit" name="commit" value="Send" class="new-message__submit-btn"
                        data-disable-with="Send" />
                </form>
            </div>
        </div>

    </div>

</body>

</html>
